.page {
  text-rendering: optimizeLegibility;
  @include zeroIndentation($margin: 0, $padding: 0);

  &__link {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    padding: 11px 77px 10px 59px;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 9999px;
    text-decoration: none;
    max-width: 228px;

    @media screen and (max-width: 730px) {
      font-size: 14px;
      max-width: 169px;
      padding: 6px 48px;
    }

      &:hover {
      font-weight: 500;
    }
  }

}

